pkgbase = postier-bin
	pkgdesc = Fully free & open-source API client
	pkgver = 1.4.0
	pkgrel = 2
	url = https://github.com/bouteillerAlan/postier
	install = postier-bin.install
	arch = x86_64
	license = GPL
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	options = !strip
	options = !emptydirs
	source_x86_64 = https://github.com/bouteillerAlan/postier/releases/download/v1.4.0/Postier_1.4.0_amd64.deb
	sha256sums_x86_64 = 594ae68530e42cab209f844fba97fd13436611d94ff2d7267659bf12a934eef5

pkgname = postier-bin
