pkgbase = postier
	pkgdesc = Fully free & open-source API client
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/bouteillerAlan/postier
	install = postier.install
	arch = x86_64
	license = GPL
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup
	depends = pango
	depends = webkit2gtk-4.1
	options = !strip
	options = !emptydirs
	source_x86_64 = https://github.com/bouteillerAlan/postier/releases/download/v1.2.0-beta/Postier_1.1.0_amd64.deb
	sha256sums_x86_64 = bf90904e07bcf3afd938093a55e5f9ca72120dcd85d111069419624914d67a19

pkgname = postier
pkgbase = postier
	pkgdesc = Fully free & open-source API client
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/bouteillerAlan/postier
	install = postier.install
	arch = x86_64
	license = GPL
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	options = !strip
	options = !emptydirs
	source_x86_64 = https://github.com/bouteillerAlan/postier/releases/download/v1.2.0-beta/Postier_1.1.0_amd64.deb
	sha256sums_x86_64 = bf90904e07bcf3afd938093a55e5f9ca72120dcd85d111069419624914d67a19

pkgname = postier
